{
  "presets": ["es2015", "stage-0"],
  "plugins": ["add-module-exports", "babel-plugin-transform-regenerator", ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }
    ]
  ],
  "ignore": [
    "node_modules/**/*"
  ]
}